.action-bar {
  display: flex;
  gap: var(--gap);
  justify-content: flex-end;
}

@media (width < 900px) {
  .action-bar {
    flex-direction: column;
    align-items: stretch;
  }
}

.dynamic-page-margin {
  margin-top: -3em;
}

@media (width < 900px) {
  .dynamic-page-margin {
    margin-top: 0;
  }
}

.action-bar-button {
  @media (width < 900px) {
    width: 100%;
  }
}
