.action-bar {
  display: flex;
  gap: var(--gap);
  justify-content: flex-end;
  background-color: var(--color-card);
  padding: var(--gap-s);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-card-dark);
}

@media (width < 900px) {
  .action-bar {
    flex-direction: column;
    align-items: stretch;
  }
}

.action-bar-button {
  @media (width < 900px) {
    width: 100%;
  }
}
