.action-bar {
  display: flex;
  gap: var(--gap);
  justify-content: flex-end;

  @media (width < 900px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.action-bar-button {
  @media (width < 900px) {
    width: 100%;
  }
}
