.action-bar-button {
  &:not(:last-child) {
    border-right: 1px solid var(--color-thin-border);
    padding-right: var(--gap-s);
    margin-right: var(--gap-s);

    @media (width < 900px) {
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }
  }
}
