.action-bar {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  background-color: var(--color-card);
  padding: var(--gap-s);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-card-dark);

  @media (width < 900px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-s);

    .action-bar-button a,
    button {
      justify-content: flex-start;
    }
  }
}

.action-bar-button {
  button {
    white-space: nowrap;
  }
}
