.diva-output-view-page {
  display: grid;
}

.diva-output-view {
  display: grid;
  justify-items: start;
  gap: var(--gap-xxl);
  grid-template-columns: 3fr 2fr;
  font-variant-numeric: tabular-nums;
  max-width: 2000px;
  padding-bottom: var(--gap-xl);

  @media (width < 1200px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

p,
dd {
  max-width: 100ch;
}

h1 {
  max-width: 60ch;
  font-size: 2rem;

  @media (width < 800px) {
    font-size: 1.5rem;
  }
}

h2 {
  margin-top: var(--gap-l);
}

h3 {
  margin-top: var(--gap);
}

article {
  display: grid;
  gap: var(--gap);
  padding-bottom: var(--gap-l);
}

aside {
  @media (width >= 1200px) {
    border-left: 1px solid var(--color-thin-border);
    padding-left: var(--gap-xxl);
  }
}

dt {
  color: var(--color-label);
  margin-top: var(--gap-l);
}

dd {
  padding-left: var(--gap);
}

dd + dd {
  padding-left: 0;

  &:not(:has(> button))::before {
    content: ', ';
  }
}

dd:has(+ dd),
dd + dd {
  display: inline;
}

dd.block {
  display: block;
  padding-left: var(--gap);
  margin-bottom: var(--gap-s);

  &::before {
    display: none;
  }
}

.inline-definitions {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: var(--gap-s);

  dt {
    margin-top: 0;

    &::after {
      content: ':';
    }
  }

  dd:has(+ dd),
  dd + dd {
    padding-left: var(--gap);

    &::before {
      display: none;
    }

    grid-column: 2;
  }
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
}

.pill {
  display: inline-block;
  padding: var(--gap-s) var(--gap-l);
  background: var(--color-card);
  border: 1px solid var(--color-link);
  color: var(--color-text);
  border-radius: var(--border-radius);
}

.sdg-image {
  height: 6rem;
  width: auto;
}

address {
  font-style: normal;
  display: inline;
}

.api-button {
  justify-self: end;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.expanded-card {
  border-left: 2px solid var(--color-card-dark);
  background: var(--color-card);
  border-radius: var(--color-border-radius-s);
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);

  .name {
    font-weight: bold;
  }

  dt:not(:first-child) {
    margin-top: var(--gap-s);
  }

  .inline-definitions {
    row-gap: 0;

    dt {
      margin-top: 0;
    }
  }
}

.affiliation {
  margin-top: var(--gap);

  dl {
    padding-left: var(--gap-l);
  }
}

.attachments {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.attachment {
  margin-bottom: var(--gap-l);
}

.attachment-thumbnail {
  width: 250px;
  margin-bottom: var(--gap-s);
  border: 1px solid var(--color-thin-border);
  border-radius: var(--border-radius-s);
}

section {
  border-bottom: 1px solid var(--color-thin-border);
  padding-bottom: var(--gap-l);
}

section section {
  border: none;
  padding: 0;
  margin: 0;
}

section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
