.search-page {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: var(--gap-xl);
  overflow-x: hidden;
}

main {
  padding-bottom: var(--gap-xxl);
}

h1 {
  grid-column: span 2;
  margin-top: var(--gap-l);
}

.main-search {
  display: flex;
  gap: var(--gap);
  margin-top: var(--gap-l);

  button[type='submit'] {
    flex-basis: 10rem;
  }
}

.search-fieldset {
  position: relative;
  width: 100%;
}

.search-button {
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 4rem;
  right: 2px;
  border-radius: var(--border-radius-s);
  font-size: 1.5rem;
  color: var(--color-primary);
  background: var(--color-background);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;

  &:hover {
    background: var(--color-button-secondary-hover);
  }

  &:active {
    background: var(--color-button-secondary-active);
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: center;
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  background-color: var(--color-card);
  border: 1px solid var(--color-thin-border);
  color: var(--color-chip-text);
  padding: 0 var(--gap);
  border-radius: var(--border-radius);
  height: var(--input-height);
  cursor: pointer;
  &:hover {
    background-color: var(--color-card-dark);
  }
}

.filter-button {
  border: 1px solid var(--color-gray-dark);
  margin-left: auto;
}

aside {
  transform: translateX(100%);
  border-left: 1px solid var(--color-thin-border);
  padding: var(--gap-l);
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  background-color: var(--color-nav-rail);
  transition: transform 0.2s ease-in-out;

  &[data-expanded='true'] {
    transform: translateX(0);
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  margin-top: var(--gap-l);
  margin-bottom: var(--gap-l);
}

.search-result-item {
  &:not(:first-child) {
    border-top: 1px solid var(--color-thin-border);
  }
  padding: var(--gap-l) 0;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-l);
  img {
    margin-left: auto;
    max-height: 100px;
    height: auto;
    border: 1px solid var(--color-thin-border);
  }
}

.year-filter {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-s);
  --input-height: var(--input-height-small);

  legend {
    margin-bottom: var(--gap-s);
  }
}
