.diva-output-view-page {
  display: grid;
}

.diva-output-view {
  display: grid;
  gap: var(--gap-xxl);
  grid-template-columns: 3fr 2fr;
  font-variant-numeric: tabular-nums;
  max-width: 2000px;
  margin-right: auto;

  @media (width < 1200px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

p,
dd {
  max-width: 100ch;
}

h1 {
  max-width: 60ch;
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  margin-top: var(--gap-l);
}

h3 {
  font-size: 1.1rem;
}

article {
  display: grid;
  gap: var(--gap);
  padding-bottom: var(--gap-l);

  @media (width >= 1200px) {
    border-right: 1px solid var(--color-thin-border);
    padding-right: var(--gap-xxl);
  }
}

dt {
  color: var(--color-label);
  margin-top: var(--gap-l);
}

dd {
  padding-left: var(--gap);
}

dd:not(.block):has(+ dd),
dd:not(.block) + dd {
  display: inline;
}

.inline-definitions {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: var(--gap-s);

  dt {
    margin-top: 0;

    &::after {
      content: ':';
    }
  }

  dd:has(+ dd),
  dd + dd {
    padding-left: var(--gap);

    &::before {
      display: none;
    }

    grid-column: 2;
  }
}

dd:not(.block) + dd {
  padding-left: 0;

  &:not(:has(> button))::before {
    content: ', ';
  }
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
}

.pill {
  display: inline-block;
  padding: var(--gap-s) var(--gap-l);
  background: var(--color-card);
  border: 1px solid var(--color-link);
  color: var(--color-text);
  border-radius: var(--border-radius);
}

.sdg-image {
  height: 6rem;
  width: auto;
}

address {
  font-style: normal;
  display: inline;
}

.api-button {
  justify-self: end;
}

.download-link {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

dd.block {
  margin-bottom: var(--gap-s);
}

.expanded-card {
  border-left: 2px solid var(--color-card-dark);
  background: var(--color-card);
  border-radius: var(--color-border-radius-s);
  padding: var(--gap-s);
  margin-bottom: var(--gap-s);

  .name {
    font-weight: bold;
  }

  dt:not(:first-child) {
    margin-top: var(--gap-s);
  }

  .inline-definitions {
    row-gap: 0;

    dt {
      margin-top: 0;
    }
  }
}

.affiliation {
  margin-top: var(--gap);

  dl {
    padding-left: var(--gap-l);
  }
}

a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
}
