.attachments {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: var(--gap);
}

.attachment-thumbnail {
  border: 1px solid var(--color-thin-border);
  border-radius: var(--border-radius-s);
  transition: filter 0.1s ease-in-out;

  &:hover {
    filter: brightness(1.1) contrast(1.1);
  }
}
