main {
  width: 100%;
  max-width: 800px;
  grid-column: span 2;
  padding: var(--gap-xxl) var(--gap);
  justify-self: center;
  grid-area: main;
}

form {
  display: grid;
  gap: var(--gap-l);
}

.login-options {
  display: grid;
  gap: var(--gap-xxl);

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap-l);

    li button {
      width: 100%;
    }
  }
}

.login-option {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding-bottom: var(--gap-xl);
  border-bottom: 1px solid var(--color-thin-border);
}

.login-button {
  justify-self: flex-end;
}
