/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DiVA Client.  If not, see <http://www.gnu.org/licenses/>.
 */

.search-layout {
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: var(--gap-xl);
  max-width: 1800px;
  margin: 0 auto;
  padding-top: var(--gap-xl);
}

@media (width < 900px) {
  .search-layout {
    grid-template-columns: 1fr;
  }
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.search-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < 600px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--gap-l);

    button {
      align-self: flex-end;
    }
  }
}
