/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DiVA Client.  If not, see <http://www.gnu.org/licenses/>.
 */

.record-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--gap-l);
  position: relative;
}

.info-alert {
  margin-bottom: var(--gap);
}

.preview {
  --color-card-dark: var(--color-card-inactive-dark);

  position: sticky;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  border-left: 1px solid var(--color-thin-border);
  padding-left: var(--gap-l);
  padding-top: var(--gap);
  padding-bottom: 10rem;
}

.preview-heading {
  text-transform: uppercase;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--color-label);
}

@media (width < 1600px) {
  .record-wrapper {
    display: block;
  }

  .preview {
    display: none;
  }
}

.error-alert {
  margin-bottom: var(--gap);
}

.record-trash-bin-banner {
  background-color: var(--color-output-card-background);
  border: var(--color-output-card-border) 1px solid;
  border-radius: var(--border-radius-s);
  padding: var(--gap-l) var(--gap);
  display: flex;
  align-items: center;
  margin-block: var(--gap-l);
  gap: var(--gap);

  button {
    margin-left: auto;
  }

  @media (width <900px) {
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap);
  }
}

.record-status-bar {
  margin-block: var(--gap-l);
}

.record-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gap-l);
}
