.search-layout {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: var(--gap-xl);

  @media (width < 900px) {
    grid-template-columns: 1fr;
  }
}

.search-query-wrapper {
  position: relative;
}

.search-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.record-search {
  display: grid;
  gap: var(--gap-l);
  margin-bottom: 3em;
}

.search-result {
  margin-top: var(--gap-xl);
}

.result-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: outside;
  list-style-type: decimal;
  padding-left: 2em;
  transition: opacity 0.1s;

  @media (width < 900px) {
    padding-left: 0;
    list-style: none;

    .result-list-item {
      padding-left: 0;
    }
  }

  &[aria-busy='true'] {
    opacity: 0.5;
  }
}

.result-list-item::marker {
  font-size: var(--font-size-l);
}

.result-list-item {
  display: list-item;
  flex-direction: row;
  padding-left: var(--gap-l);
  padding-top: var(--gap-l);
  padding-bottom: var(--gap-l);
  border-bottom: 1px solid var(--color-thin-border);
}

.result-list-item:last-child {
  border: none;
}

.result-list-item-content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--gap);

  @media (width < 900px) {
    grid-template-columns: 1fr;
  }
}

.record-action-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: var(--color-label);

  @media (width < 900px) {
    flex-direction: row;
    justify-self: end;
  }
}

.filters {
  background-color: var(--color-gray-light);
  border-left: 1px solid var(--color-thin-border);
  padding: var(--gap-l);
  display: grid;
  gap: var(--gap-l);
  grid-template-rows: auto 1fr;

  h2 {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }
}
