/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DiVA Client.  If not, see <http://www.gnu.org/licenses/>.
 */

.info-alert {
  margin-bottom: var(--gap);
}

.navigation-sidebar {
  position: sticky;
  top: 0;
  max-height: calc(100vh - var(--header-height) - 21px - 2rem);
  overflow: hidden auto;
}

:global(.scrolled-past-header) {
  .navigation-sidebar {
    max-height: 100vh;
  }
}

.record-form {
  padding: var(--gap);
}

.preview {
  --color-card-dark: var(--color-card-inactive-dark);

  position: sticky;
  top: 0;
  overflow-y: auto;
  height: 100vh;
  padding: var(--gap-l);
  padding-bottom: 10rem;
  background-color: var(--color-background-darker);
  border: 1px solid var(--color-thin-border);
  border-radius: var(--border-radius);
}

.preview-heading {
  text-transform: uppercase;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--color-label);
}

.error-alert {
  margin-bottom: var(--gap);
}

.record-status-bar {
  margin-block: var(--gap-l);
}
