.record-search {
  display: grid;
  gap: var(--gap-l);
}

.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-list-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding: var(--gap);
  border-left: 2px solid var(--color-card-dark);
  border-right: 2px solid var(--color-card-dark);
  border-bottom: 2px solid var(--color-card-dark);
  background-color: var(--color-card);
}

.result-list-item:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-top: 2px solid var(--color-card-dark);
  background-color: var(--color-card);
}

.result-list-item:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-card);
}

.record-action-buttons {
  display: flex;
  gap: var(--gap);
  align-self: flex-end;
}
