.record-search {
  display: grid;
  gap: var(--gap-l);
  margin-bottom: 3em;
}

.result-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: outside;
  list-style-type: decimal;
  padding-left: 2em;
}

.result-list-item::marker {
  font-size: var(--font-size-l);
}

.result-list-item {
  display: list-item;
  flex-direction: row;
  padding-left: var(--gap-l);
  padding-top: var(--gap-l);
  padding-bottom: var(--gap-l);
  border-bottom: 2px solid var(--color-card-dark);
}

.result-list-item:last-child {
  border: none;
}

.result-list-item-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.record-action-buttons {
  display: flex;
  gap: var(--gap);
  align-self: flex-end;
}
