.article {
  padding-top: var(--gap-xl);
  max-width: 1000px;
}

.article h1 {
  margin-bottom: var(--gap-l);
}

.article h2 {
  margin-top: var(--gap-xl);
  margin-bottom: var(--gap-s);
}

.article p {
  margin-bottom: var(--gap);
  line-height: 1.6;
}

.article ul,
.article ol {
  padding-left: var(--gap-xl);
  margin-bottom: var(--gap);
  line-height: 1.6;
}

.article footer {
  margin-top: var(--gap-xl);
  font-style: italic;
}
