.popover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fieldInfoPanel {
  --anchor-gap: var(--gap);

  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  padding: var(--gap-l);
  width: 600px;
  box-shadow: var(--elevation);
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
