.field-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.field-info-button {
  position: relative;
}

.field-info-panel {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: left;
}
