.collection-variable-expand {
  cursor: pointer;
  background: rgb(255 255 255 / 10%);
  border-radius: 2px;
  &:hover {
    background: rgb(255 255 255 / 20%);
  }
  &:active {
    background: rgb(255 255 255 / 30%);
  }
}
.h3 {
  font-family: monospace;
  text-transform: uppercase;
}
.element {
  position: relative;
}

.element-expand-button {
  position: absolute;
  left: -1.5rem;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  &:hover {
    background: rgb(255 255 255 / 20%);
  }
  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.element-popover-button {
  background: none;
  cursor: pointer;
  &:hover {
    background: rgb(255 255 255 / 20%);
  }
  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.element-popover-panel {
  background: #ddd;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem;

  h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  h4,
  p {
    max-width: 30rem;
  }
}

.api-docs-nav {
  ul {
    list-style: none;
  }
  a {
    color: inherit;
    &.active {
      color: coral;
    }
  }
}
