/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.alert {
  width: 100%;
  display: flex;
  border-radius: var(--border-radius-s);

  &[data-severity='success'] {
    --color-alert-bg: var(--color-alert-success-bg);
    --color-alert-icon: var(--color-alert-success-icon);
    --color-alert-font: var(--color-alert-success-font);
  }

  &[data-severity='info'] {
    --color-alert-bg: var(--color-alert-info-bg);
    --color-alert-icon: var(--color-alert-info-icon);
    --color-alert-font: var(--color-alert-info-font);
  }

  &[data-severity='error'] {
    --color-alert-bg: var(--color-alert-error-bg);
    --color-alert-icon: var(--color-alert-error-icon);
    --color-alert-font: var(--color-alert-error-font);
  }

  &[data-severity='warning'] {
    --color-alert-bg: var(--color-alert-warning-bg);
    --color-alert-icon: var(--color-alert-warning-icon);
    --color-alert-font: var(--color-alert-warning-font);
  }

  color: var(--color-alert-font);
  background-color: var(--color-alert-bg);
}

.alert-title {
  line-height: 1;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

.icon {
  padding: var(--gap-l);
  font-size: var(--font-size-l);

  svg {
    stroke: var(--color-alert-icon);
  }
}

.content {
  padding: var(--gap-l);
  display: flex;
  flex-direction: column;
  line-height: inherit;
  gap: var(--gap-l);
}
