/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.alert {
  width: 100%;
  display: flex;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-alert-border);

  &[data-severity='success'] {
    --color-alert-bg: var(--color-alert-success-bg);
    --color-alert-icon: var(--color-alert-success-icon);
    --color-alert-font: var(--color-alert-success-font);
    --color-alert-border: var(--color-alert-success-border);
  }

  &[data-severity='info'] {
    --color-alert-bg: var(--color-alert-info-bg);
    --color-alert-icon: var(--color-alert-info-icon);
    --color-alert-font: var(--color-alert-info-font);
    --color-alert-border: var(--color-alert-info-border);
  }

  &[data-severity='error'] {
    --color-alert-bg: var(--color-alert-error-bg);
    --color-alert-icon: var(--color-alert-error-icon);
    --color-alert-font: var(--color-alert-error-font);
    --color-alert-border: var(--color-alert-error-border);
  }

  &[data-severity='warning'] {
    --color-alert-bg: var(--color-alert-warning-bg);
    --color-alert-icon: var(--color-alert-warning-icon);
    --color-alert-font: var(--color-alert-warning-font);
    --color-alert-border: var(--color-alert-warning-border);
  }

  &[data-severity='neutral'] {
    --color-alert-bg: var(--color-output-card-background);
    --color-alert-icon: var(--color-text);
    --color-alert-font: var(--color-text);
    --color-alert-border: var(--color-thin-border);
  }

  color: var(--color-alert-font);
  background-color: var(--color-alert-bg);

  &[data-variant='banner'] {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.alert-title {
  line-height: 1;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}

.icon {
  padding: var(--gap-l);
  font-size: var(--font-size-l);

  svg {
    stroke: var(--color-alert-icon);
  }
}

.content {
  padding: var(--gap-l);
  display: flex;
  flex-direction: column;
  line-height: inherit;
  gap: var(--gap-l);
}

.action {
  align-self: center;
  margin-left: auto;
  padding: var(--gap-l);
}

@media (width < 900px) {
  .alert {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .action {
    grid-column: 2;
  }
}
