.form {
  width: 100%;
  padding-bottom: calc(var(--gap) * 4);

  &[data-submitting='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.toolbar {
    position: fixed;
    inset: 0;
    right: 0;
    left: auto;
    width: fit-content;
    top: auto;
    z-index: 1;

    display: block;
}

.toolbarActions {
  width: 100%;
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc(var(--gap) * 2);
}

.floatingActionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    filter: drop-shadow(0px 1px 2px #000000);
    border-radius: var(--gap2);
    padding: var(--gap);
    height: 3rem;
    width: 3rem;
    svg {
        font-size: 1.3rem;
    }
}
