.pagination {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-s);

  @media (width < 900px) {
    align-self: stretch;

    .pagination-buttons {
      margin-left: auto;
    }
  }
}

.result-text {
  grid-column: span 2;
  white-space: nowrap;
}

.pagination-buttons {
  display: flex;
}
