.search-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (width < 600px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  input[name='search.include.includePart.genericSearchTerm[0].value'] {
    --input-height: var(--input-height-large);
  }
}

.search-button {
  padding-left: var(--gap-xl);
  padding-right: var(--gap-xl);
  align-self: flex-end;

  --input-height: var(--input-height-large);
}

.search-result-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
