.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--gap);
  align-items: end;

  --input-height: var(--input-height-large);

  @media (width < 600px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.search-button {
  padding-left: var(--gap-xl);
  padding-right: var(--gap-xl);
}
