.menu {
  inset: unset;
  top: calc(anchor(bottom) + var(--gap));
  right: anchor(right);
  justify-self: anchor-center;
  position-try: normal flip-block;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-background);
  box-shadow: var(--elevation);
  width: 400px;
  max-width: 100vw;
}

.menu-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  padding: var(--gap) var(--gap-l);
  border-bottom: 1px solid var(--color-input-border);
  background: var(--color-background-darker);
}

.menu-content {
  display: flex;
  flex-direction: column;
}

.menu-items {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
}

.menu-filter {
  padding: var(--gap-l);
  padding-bottom: var(--gap);
}

.menu-filter-icon {
  position: absolute;
  right: var(--gap-l);
  top: 50%;
  transform: translateY(-50%);
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--color-text);
  padding: var(--gap) var(--gap-l);
  text-decoration: none;
  transition: background-color 0.1s;
  background-color: var(--color-background);
  cursor: pointer;
  flex-shrink: 0;

  &[data-active='true'],
  &:hover {
    background-color: var(--color-button-secondary-hover);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
