.menu {
  inset: unset;
  top: calc(anchor(bottom) + var(--gap));
  right: anchor(right);
  justify-self: anchor-center;
  position-try: normal flip-block;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-background);
  box-shadow: var(--elevation);
  max-width: 100vw;

  &:has(.menu-filter) {
    width: 400px;
  }

  &[data-alignment='start'] {
    right: unset;
    left: anchor(left);
  }

  &[data-alignment='center'] {
    right: anchor(center);
    transform: translateX(50%);
  }

  &[data-alignment='end'] {
    right: anchor(right);
    left: unset;
  }

  h2 {
    padding: var(--gap) var(--gap-l);
    color: var(--color-label);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    font-family: var(--font-family-main);
  }

  h3 {
    padding: var(--gap);
    color: var(--color-label);
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-h6);
    font-family: var(--font-family-main);
    text-transform: uppercase;

    &:not(:first-child) {
      border-top: 1px solid var(--color-gray-main);
      padding-top: var(--gap-s);
    }
  }
}

.menu-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  padding: var(--gap) var(--gap-l);
  border-bottom: 1px solid var(--color-input-border);
  background: var(--color-background-darker);
}

.menu-content {
  display: flex;
  flex-direction: column;
}

.menu-items {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
}

.menu-filter {
  padding: var(--gap-l);
  padding-bottom: var(--gap);
}

.menu-filter-icon {
  position: absolute;
  right: var(--gap-l);
  top: 50%;
  transform: translateY(-50%);
}

.menu-item {
  flex-shrink: 0;

  a,
  button {
    display: flex;
    align-items: center;
    color: var(--color-text);
    padding: var(--gap) var(--gap-l);
    text-decoration: none;
    transition: background-color 0.1s;
    background-color: var(--color-background);
    cursor: pointer;
    width: 100%;
  }

  &:hover {
    a,
    button {
      background-color: var(--color-button-secondary-hover);
    }
  }

  &[data-active='true'] {
    a,
    button {
      outline: 1px solid var(--color-link-selected);
      background: var(--color-card);
      border-radius: var(--border-radius-s);
    }
  }
}
