.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
}

.attachments {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: var(--gap);
}

.data-quality {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .data-quality-2026 {
    color: var(--color-success-main);
  }

  .data-quality-classic {
    color: var(--color-warning-main);
  }
}

.attachment-thumbnail {
  border: 1px solid var(--color-thin-border);
  border-radius: var(--border-radius);
}
