.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
}

.attachments {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: var(--gap);
}
