@layer root, components;

@layer components {
  .button {
    position: relative;
    flex-shrink: 0;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    height: var(--input-height);
    padding: 0 calc(var(--gap) * 2);
    border-radius: calc(var(--border-radius) / 2);
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    transition:
      background-color,
      border-color 0.2s;
    font-weight: normal;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    svg {
      font-size: var(--font-size-icon);
    }

    &[data-fullwidth] {
      width: 100%;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &[data-size='small'] {
      font-size: var(--font-size-s);

      --input-height: var(--input-height-small);

      svg {
        font-size: 1.3rem;
      }
    }

    &[data-size='large'] {
      --input-height: var(--input-height-large);
    }

    &[data-variant='primary'] {
      background-color: var(--color-button);
      border-color: var(--color-button);
      color: var(--color-text-inverted);

      &:hover {
        --color-button: var(--color-button-primary-hover);
      }

      &:active {
        background-color: var(--color-button-primary-active);
      }
    }

    &[data-variant='secondary'] {
      background-color: transparent;
      border-color: var(--color-button);

      &:hover {
        background-color: var(--color-button-secondary-hover);
      }

      &:active {
        background-color: var(--color-button-secondary-active);
      }
    }

    &[data-variant='tertiary'] {
      border-color: transparent;
      background: transparent;

      &:hover {
        background-color: var(--color-button-secondary-hover);
      }

      &:active {
        background-color: var(--color-button-secondary-active);
      }
    }

    &[data-error] {
      border-color: var(--color-error-main);
      color: var(--color-error-main);
    }
  }
}
