/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DiVA Client.  If not, see <http://www.gnu.org/licenses/>.
 */

.member-bar {
  background-color: var(--member-background-color);
  color: var(--member-text-color);
  padding: 0 var(--gap-xl);
  display: flex;
  height: var(--member-bar-height);
  gap: var(--gap-xxl);
  align-items: center;
  border-bottom: 1px solid var(--color-lighter-border);

  @media (width < 900px) {
    justify-content: flex-end;
    padding: 0 var(--gap);
    gap: var(--gap);
  }
}

:global([data-color-scheme='dark']) .member-bar {
  background-color: var(--member-background-color-dark-mode);
  color: var(--member-text-color-dark-mode);
}

@media (prefers-color-scheme: dark) {
  :global([data-color-scheme='auto']) .member-bar {
    background-color: var(--member-background-color-dark-mode);
    color: var(--member-text-color-dark-mode);
  }
}

.content {
  max-height: var(--gap-xl);
}

.links {
  font-size: var(--font-size-s);
  max-width: 40%;

  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-s) var(--gap-l);
  }

  @media (width < 900px) {
    font-size: var(--font-size-xs);
    display: none;

    ul {
      gap: var(--gap-s);
    }
  }
}

.links-popover-button {
  visibility: hidden;

  @media (width < 900px) {
    visibility: visible;
  }
}

.links-popover-panel {
  background: var(--color-background);
  border-radius: var(--border-radius-s);
  box-shadow: var(--elevation);
  padding: var(--gap);

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

.logo-wrapper {
  height: var(--gap-xxl);
  padding: var(--gap-s) 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 20%;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (width < 900px) {
    max-width: 40%;
  }
}

.member-bar a,
.links-popover-panel a {
  color: inherit;
  text-decoration: none;
}

.button-wrapper {
  margin-left: auto;
  display: flex;

  @media (width < 1400px) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 40%;

    button {
      padding: var(--gap-s);
      font-size: var(--font-size-s);
      gap: var(--gap-s);
    }
  }

  @media (width < 900px) {
    display: none;
  }
}
