/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with DiVA Client.  If not, see <http://www.gnu.org/licenses/>.
 */

.member-bar {
  padding: 0 var(--gap-xl);
  display: flex;
  height: var(--gap-xxl);
  gap: var(--gap-xxl);
  align-items: center;

  @media (width < 900px) {
    padding: 0 var(--gap);
    gap: var(--gap);
    height: auto;
  }
}

.content {
  max-height: var(--gap-xl);
}

.links {
  font-size: var(--font-size-s);

  ul {
    list-style: none;
    display: flex;
    gap: var(--gap-l);
  }

  @media (width < 900px) {
    font-size: var(--font-size-xs);

    ul {
      gap: var(--gap-s);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.logo-wrapper {
  height: var(--gap-xxl);

  @media (width >= 1400px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  svg {
    width: auto;
    height: 100%;
  }
}
