.error-page {
  display: grid;
  place-items: center;
  gap: var(--gap-l);
  text-align: center;
  svg {
    font-size: 8rem;
    color: var(--color-accent);
  }
  h1 {
    font-size: var(--font-size-xxl);
  }
}

.error-body {
  font-size: var(--font-size-l);
}

.accordion {
  width: 60%;
}

@media (width < 900px) {
  .accordion {
    width: 100%;
  }
}

.cora-message {
  font-family: monospace;
  font-size: var(--font-size-base);
}
