.autocomplete-input-wrapper {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  gap: var(--gap-s);

  &[aria-expanded='true'] {
    outline: 2px solid var(--color-link-selected);
  }

  button {
    background: transparent;
  }
}

.autocomplete-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options {
  inset: unset;
  margin: 0;
  position-area: bottom;
  width: anchor-size(width);
  position-try-fallbacks: flip-block;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-background);
  box-shadow: var(--elevation);
  max-width: 100vw;
  opacity: 0;
  transition:
    opacity 0.1s ease-in,
    display 0.1s ease-in allow-discrete,
    overlay 0.1s ease-in allow-discrete;

  &[data-open='true'] {
    opacity: 1;
    transition:
      opacity 0.1s ease-out,
      display 0.1s ease-out allow-discrete,
      overlay 0.1s ease-out allow-discrete;
  }

  ul {
    max-height: 40dvh;
    overflow-y: auto;
    overscroll-behavior: contain;

    &[aria-busy='true'] {
      opacity: 0.5;
      pointer-events: none;
    }

    li:not(:last-child) {
      border-bottom: 1px solid var(--color-thin-border);
    }
  }
}

.autocomplete-input-icon {
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--gap);
  font-size: var(--font-size-icon);
  pointer-events: none;
}

.trigger[aria-expanded='true'] .autocomplete-input-icon {
  transform: translateY(-50%) rotate(180deg);
}

.option {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.1s;
  padding: var(--gap);
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: var(--border-radius-s);

  &:hover {
    background-color: var(--color-button-secondary-hover);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-label);
  }

  &[data-active='true'] {
    outline: 1px solid var(--color-link-selected);
    background: var(--color-card);
  }
}

.listbox-filter {
  padding: var(--gap);
  background: var(--color-background-darker);
  border-bottom: 1px solid var(--color-thin-border);
}

.listbox-filter-icon {
  position: absolute;
  right: var(--gap-l);
  top: 50%;
  transform: translateY(-50%);
}
