.result-list-item-content {
  display: inline-grid;
  width: 100%;
  margin-left: var(--gap);
  grid-template-columns: 1fr auto;
  gap: var(--gap);

  @media (width < 900px) {
    grid-template-columns: 1fr;
  }
}

.record-action-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: var(--color-label);

  @media (width < 900px) {
    flex-direction: row;
    justify-self: end;
  }
}
