.result-list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: result 0;
  transition: opacity 0.1s;

  @media (width < 900px) {
    padding-left: 0;
    list-style: none;

    .result-list-item {
      padding-left: 0;
    }
  }

  &[aria-busy='true'] {
    opacity: 0.5;
  }
}

.result-list-item {
  counter-increment: result;
  display: flex;
  flex-direction: row;
  padding-left: var(--gap-l);
  padding-top: var(--gap-l);
  padding-bottom: var(--gap-l);
  border-bottom: 1px solid var(--color-thin-border);
}

.result-list-item:last-child {
  border: none;
}

.result-list-item::before {
  content: counter(result) '. ';
  font-size: var(--font-size-l);
  margin-right: var(--gap);
}

.result-list-item-content {
  display: inline-grid;
  width: 100%;
  margin-left: var(--gap);
  grid-template-columns: 1fr auto;
  gap: var(--gap);

  @media (width < 900px) {
    grid-template-columns: 1fr;
  }
}

.record-action-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: var(--color-label);

  @media (width < 900px) {
    flex-direction: row;
    justify-self: end;
  }
}
