.top-navigation {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: var(--font-size-h4);
    transform: translateY(var(--gap));
    gap: var(--gap-s);
  }

  a {
    text-decoration: none;
    color: var(--color-text);
    border-bottom: 4px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--color-card);
    }

    padding: var(--gap-s) var(--gap-l);
    border-radius: 9999999px;

    &[aria-current='page'] {
      background-color: var(--color-card-dark);
    }

    svg {
      font-size: var(--font-size-l);
    }

    .label {
      font-size: var(--font-size-s);
      max-width: 15ch;
      text-align: center;
      line-height: 1;
    }
  }

  @media (width < 600px) {
    ul {
      flex-direction: column;
      align-items: flex-end;
    }

    a {
      border-right: 4px solid transparent;
      border-bottom: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--gap);
      border-radius: 9999999px;

      &[aria-current='page'] {
        background-color: var(--color-card-dark);
      }

      .label {
        font-size: var(--font-size-s);
        max-width: 10ch;
      }
    }
  }
}
