/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.breadcrumbs {
  font-size: var(--font-size-s);
  margin-top: 1rem;
  margin-bottom: 1rem;

  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }

  li:not(:last-child)::after {
    content: ' / ';
    margin: 0 5px;
    color: var(--color-label);
  }

  a {
    text-decoration: none;
    color: var(--color-label);
  }

  svg {
    display: inline;
    transform: translateY(-2px);
  }

  a:hover {
    text-decoration: underline;
  }

  li:last-child a {
    font-weight: bold;
    color: var(--color-text);
  }
}
