/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.card {
  position: relative;
  transition: background-color 0.2s;
  transition: border-color 0.2s;
  border-radius: var(--border-radius);
}

.card-title {
  max-width: 75ch;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.card[data-boxed] {
  border: 1px solid var(--color-card-dark);
  border-left: 3px solid var(--color-card-dark);

  &:has([aria-invalid='true']) {
    border-color: var(--color-error-main);

    & > .card-header .card-title {
      color: var(--color-error-main);
    }
  }

  &:has(input:focus),
  &:has(select:focus),
  &:has(textarea:focus),
  &:has(> .card-header input:hover),
  &:has(> .card-header [data-action-button]:hover),
  &:has(> .card-header [data-action-button]:focus-visible) {
    border-color: var(--color-accent);
    background-color: var(--color-card);
  }

  &:has(> .card-header [data-action-button='delete']:hover),
  &:has(> .card-header [data-action-button='delete']:focus) {
    background-color: var(--color-alert-error-bg);
    border-color: var(--color-error-main);
  }
}

.expand-button {
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: inherit;
}

.value-icon,
.error-icon {
  display: none;
  font-size: 1rem;
}

.card[data-expanded='false']:has([data-has-value]) {
  .expand-button {
    color: var(--color-accent);
  }

  .value-icon {
    display: block;
  }
}

.card[data-expanded='false']:has([aria-invalid='true']) {
  .expand-button {
    color: var(--color-error-main);
  }

  .error-icon {
    display: block;
  }
}

.card .card-content[data-boxed] {
  padding: var(--gap);

  &[data-alert='true'] {
    border-radius: var(--border-radius);
    background-color: rgb(255 236 240);
  }
}

.card-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: 'title attributes actions';
  align-items: center;
  width: 100%;

  &[data-boxed] {
    padding: var(--gap-s) var(--gap);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  &[data-alert='true'] {
    background-color: rgb(210 175 182);
  }

  .title {
    grid-area: title;
  }

  .attributes {
    grid-area: attributes;
    justify-self: end;
  }

  .actions {
    grid-area: actions;
    justify-self: end;
  }
}

@media (width < 600px) {
  .card-header {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'title actions'
      'attributes attributes';

    .attributes {
      justify-self: stretch;
    }
  }
}

.card-heading {
  margin: 0;
}
