/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-s);
}

.login-button {
  color: var(--color-text);
  display: flex;
  align-items: center;
  height: var(--input-height);
  padding: 0 calc(var(--gap) * 2);
  gap: var(--gap);

  svg {
    font-size: var(--font-size-icon);
  }

  &:hover {
    background-color: var(--color-button-secondary-hover);
  }

  &:active {
    background-color: var(--color-button-secondary-active);
  }
}

.logout-button {
  display: flex;
  align-items: center;
  gap: var(--gap);
  width: max-content;
}
