.header {
  position: relative;
  color: var(--color-label);
}

.diva-header-bar {
  height: var(--diva-header-bar-height);
  border-bottom: 1px solid var(--color-thin-border);
  transition-behavior: allow-discrete;
  display: flex;
  align-items: center;

  @media (width < 900px) {
    .logo {
      height: 100%;
      max-width: 5rem;
    }

    .language-switcher,
    .color-theme-switcher {
      display: none;
    }
  }
}

.header-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  .logo {
    height: 100%;
    max-width: 6rem;
  }

  .header-bar-left {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
  }

  .header-bar-right {
    display: flex;
    align-items: center;
    gap: var(--gap-l);
  }
}
