.header {
  position: relative;
  color: var(--color-label);
}

.diva-header-bar {
  height: var(--diva-header-bar-height);
  padding: var(--gap) var(--gap-xl);
  border-bottom: 1px solid var(--color-thin-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-behavior: allow-discrete;

  .logo {
    height: 100%;
    max-width: 7rem;
  }

  .header-bar-left {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
  }

  .header-bar-right {
    display: flex;
    align-items: center;
    gap: var(--gap-l);
  }

  @media (width < 900px) {
    padding: var(--gap) var(--gap-l);

    .logo {
      height: 100%;
      max-width: 5rem;
    }

    .language-switcher,
    .color-theme-switcher {
      display: none;
    }
  }
}

.header-mobile-menu-button {
  display: none;

  @media (width < 900px) {
    display: block;
  }
}

.mobile-menu-dialog {
  inset: 0 auto 0 0;
  height: 100vh;
  width: 80vw;
  max-height: none;
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  transform: translateX(-100%);
  padding: var(--gap-l);
  gap: var(--gap);
  box-shadow: var(--elevation);
  opacity: 0;
  transition-duration: 0.2s;
  background-color: var(--color-background);

  &:open {
    transform: translateX(0);
    opacity: 1;
    transition:
      transform 0.3s ease-out,
      opacity 0.3s ease-out,
      display 0.3s ease-out allow-discrete,
      overlay 0.3s ease-out allow-discrete;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 50%);
    transition:
      background-color 0.3s ease-in-out,
      overlay 0.3s allow-discrete,
      display 0.3s ease-in-out allow-discrete;
  }
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  gap: var(--gap-l);

  .menu-close-button {
    margin-left: auto;
  }
}

@starting-style {
  .mobile-menu-dialog:open {
    transform: translateX(-100%);
  }

  .mobile-menu-dialog:open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}
