.header {
  position: relative;
}

.diva-header-bar {
  height: 5rem;
  padding: var(--gap) var(--gap-xl);
  border-bottom: 1px solid var(--color-thin-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-behavior: allow-discrete;

  .logo {
    height: 100%;
    max-width: 8rem;
  }

  .header-bar-left {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);
  }

  .header-bar-right {
    display: flex;
    align-items: center;
    gap: var(--gap-xl);

    .header-bar-login-language {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.header-mobile-menu-button {
  display: none;

  @media (width < 900px) {
    display: block;
  }
}

.mobile-menu-dialog {
  height: 100vh;
  width: 80vw;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;

  &:open {
    transform: translateX(0);
    opacity: 1;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 50%);
  }
}

@starting-style {
  mobile-menu-dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}
