/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.dev-info {
  font-family: monospace;
  font-size: 0.8rem;
  display: block;
  color: antiquewhite;

  .copy-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 2;
    background: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 2px 10px;
    font-size: 0.8em;
    cursor: pointer;
    opacity: 0.85;
    transition:
      background 0.2s,
      opacity 0.2s;
  }

  .copy-btn:hover {
    background: #444;
    opacity: 1;
  }

  button {
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 4px;
    background: #666;
    border-radius: 4px 4px 0 0;
  }

  strong {
    display: block;
    position: sticky;
    top: 0;
    background: #444;
    border-bottom: 1px solid #666;
    padding-left: 2px;
  }

  .expand-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px;
    background: #444;
    scrollbar-color: rgb(117 89 142) -moz-default-background-color;
    scrollbar-width: thin;
  }

  pre {
    margin: 0;
    overflow-x: auto;
    max-width: 900px;
    max-height: 800px;
    border-radius: 0 4px 4px;

    &:nth-child(even) {
      border-left: 1px solid #666;
    }
  }
}

.path {
  grid-column: span 2;
}

.dev-info-button {
  cursor: pointer;
  border: none;
  background: rgb(0 0 0 / 10%);
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  font-family: monospace;
  font-size: 1rem;
  padding: var(--gap-s);
  color: var(--color-gray-dark);
  z-index: 1;
}
