/*
 * Copyright 2024 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.devInfo {
    font-family: monospace;
    font-size: 0.8rem;
    display: block;
    color: antiquewhite;

    button {
        border: none;
        color: inherit;
        font-family: inherit;
        cursor: pointer;
        padding: 4px;
        background: #666;
        border-radius: 4px 4px 0 0;
    }

    pre {
        margin: 0;
        padding: 4px;
        background: #444;
        overflow: auto;
        max-width: 900px;
        max-height: 800px;
        border-radius: 0 4px 4px 4px;
    }
}

.devInfoButton {
    cursor: pointer;
    border: none;
    background: rgb(var(--grayLight));
    border-radius: 4px;
    position: absolute;
    top: -24px;
    right: -24px;
    font-family: monospace;
    color: rgb(var(--grayDark));
}

