.record-link-button {
  background: var(--color-background);
  height: var(--input-height);
  border-radius: calc(var(--border-radius) / 2);
  padding-inline: var(--gap);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  cursor: pointer;
  transition: background-color 0.2s;
  border: 2px dashed var(--color-input-border);

  &:hover {
    background-color: rgb(0 0 0 / 5%);
  }

  &:active {
    background-color: rgb(0 0 0 / 10%);
  }
}

.dialog {
  width: min(60vw, 60rem);
  margin-inline: auto;
  margin-block: var(--gap-xxl);
  max-height: 70dvh;
  border: 1px solid var(--color-lighter-border);
  border-radius: var(--border-radius);
  background: var(--color-background);
  color: var(--color-text);
  box-shadow: var(--elevation);
  transform: scale(0.9);
  opacity: 0;
  transition:
    transform 0.15s ease-in,
    opacity 0.15s ease-in,
    display 0.15s ease-in allow-discrete,
    overlay 0.15s ease-in allow-discrete;

  &[open] {
    opacity: 1;
    transform: scale(1);
    transition:
      transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity 0.15s ease-out,
      display 0.2s ease-out allow-discrete,
      overlay 0.2s ease-out allow-discrete;
  }

  &::backdrop {
    background-color: var(--color-modal-backdrop);
    transition:
      background-color 0.2s ease-in-out,
      overlay 0.2s allow-discrete,
      display 0.2s ease-in-out allow-discrete;
  }
}

.search-results {
  margin: 0;
  padding-top: var(--gap-l);
  list-style: none;
  max-height: 50dvh;
  overflow-y: auto;

  &[aria-busy='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.search-results li:last-child .result {
  border-bottom: none;
}

@starting-style {
  .dialog[open] {
    opacity: 0;
    transform: scale(0.9);
  }

  .dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-thin-border);
  padding: var(--gap-l);
  width: 100%;
}

.dialog-body {
  padding: var(--gap-l);
}

.dialog::backdrop {
  background: rgb(0 0 0 / 45%);
  backdrop-filter: blur(2px);
}

.dialog-search {
  margin-bottom: var(--gap-l);
}

.search-input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: var(--gap);
  transform: translateY(-50%);
  font-size: var(--font-size-icon);
}

.result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding-bottom: var(--gap-l);
  border-bottom: 1px solid var(--color-thin-border);
  margin-bottom: var(--gap-l);
}
