.adornment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  gap: var(--gap);
}

.label {
  font-style: italic;
  color: var(--color-label);
}

.label-and-adornment-wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.linked-record-wrapper {
  border: 1px dashed var(--color-label);
  padding: var(--gap);
  border-radius: var(--border-radius);
}
