.info-box {
  display: flex;
  gap: var(--gap);

  .item:not(:last-child)::after {
    content: '\007C';
    margin-left: 0.5rem;
  }

  @media (width < 900px) {
    flex-direction: column;
    gap: 0;

    .item::after {
      display: none;
    }
  }
}
