/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.navigation-link {
  text-decoration: none;
  color: var(--color-text);
  border-bottom: 4px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.1s;
  gap: var(--gap-s);

  .icon-wrapper {
    width: 4rem;
    display: grid;
    place-items: center;
    padding: var(--gap-s) 0;
    border-radius: 9999999px;
  }

  &:hover .icon-wrapper {
    background-color: var(--color-card);
  }

  &[aria-current='page'] .icon-wrapper {
    background-color: var(--color-card-dark);
  }

  svg {
    font-size: 1.2rem;
  }

  .label {
    font-size: var(--font-size-xs);
    max-width: 15ch;
    text-align: center;
    line-height: 1;
  }

  @media (width < 900px) {
    flex-direction: row;

    svg {
      font-size: 1.5rem;
    }

    .label {
      font-size: var(--font-size);
    }
  }
}
