.api-docs {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 1rem;
}

.code-block {
  padding: 1rem;
  padding-left: 2rem;
  font-family: monospace;
  color: #fefefe;
  background-color: #333;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.collection-variable-expand {
  cursor: pointer;
  background: rgb(255 255 255 / 10%);
  border-radius: 2px;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.h3 {
  font-family: monospace;
  text-transform: uppercase;
}

.element {
  position: relative;
}

.element-children {
  padding-left: 1.5rem;
}

.element-expand-button {
  position: absolute;
  left: -1.5rem;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background: none;
  border-radius: 50%;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.element-popover {
  display: inline-block;
}

.element-popover-button {
  background: none;
  cursor: pointer;

  &:hover {
    background: rgb(255 255 255 / 20%);
  }

  &:active {
    background: rgb(255 255 255 / 30%);
  }
}

.element-popover-panel {
  background: #ddd;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem;

  h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  h4,
  p {
    max-width: 30rem;
  }
}

.api-docs-nav {
  width: 12rem;

  ul {
    list-style: none;
  }

  button,
  a {
    background: none;
    color: var(--color-text);

    &.active {
      color: coral;
    }
  }

  &.method-nav {
    ul {
      display: flex;
      gap: 1rem;
    }
  }
}

.api-docs-nav-children {
  padding-left: 1rem;
}

.final-value {
  color: darkorange;
}

.collection-value {
  color: deepskyblue;
}

.multiplicity {
  color: hotpink;
}

.regex {
  color: aquamarine;
}
