.tooltip {
  margin: 0;
  inset: unset;
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  bottom: anchor(top);
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  justify-self: anchor-center;
  position-try: normal flip-block;
  background-color: var(--color-background-inverted);
  color: var(--color-text-inverted);
  padding: var(--gap-s);
  box-shadow: var(--elevation);
  border-radius: var(--border-radius-s);

  @supports not (anchor-name: --my-anchor) {
    position: absolute;
  }
}
