.search-layout {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: var(--gap-xl);

  @media (width < 900px) {
    grid-template-columns: 1fr;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding-bottom: var(--gap-xl);
}

.active-filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-counter {
  background-color: var(--color-link);
  color: var(--color-text-inverted);
  font-size: var(--font-size-s);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.main-query-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.record-search {
  display: grid;
  gap: var(--gap-l);
  margin-bottom: 3em;
}

.record-action-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: var(--color-label);

  @media (width < 900px) {
    flex-direction: row;
    justify-self: end;
  }
}

.filters {
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  @media (width < 900px) {
    position: fixed;
    inset: 0;

    .filters-content {
      width: 90vw;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
    }
  }
}

.filters-content {
  background-color: var(--color-gray-light);
  border-left: 1px solid var(--color-thin-border);
  padding: var(--gap-l);
  display: grid;
  gap: var(--gap-l);
  grid-template-rows: auto 1fr;

  h2 {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }
}

.filters-backdrop {
  display: none;

  @media (width < 900px) {
    display: block;
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
  }
}

.filters[data-open='false'] {
  opacity: 0;
  transform: translateX(100%);
  transition-duration: 0.1s;
}

.filters[data-open='true'] {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
