.search-layout {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: var(--gap-xl);

  @media (width < 900px) {
    grid-template-columns: 1fr;
  }
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding-bottom: var(--gap-xl);
}

.main-query-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.record-search {
  display: grid;
  gap: var(--gap-l);
  margin-bottom: 3em;
}

.record-action-buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: var(--color-label);

  @media (width < 900px) {
    flex-direction: row;
    justify-self: end;
  }
}

.filters {
  background-color: var(--color-gray-light);
  border-left: 1px solid var(--color-thin-border);
  padding: var(--gap-l);
  display: grid;
  gap: var(--gap-l);
  grid-template-rows: auto 1fr;

  h2 {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
  }
}

.pagination {
  align-self: end;
}
