/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.progress {
  width: 100%;
  height: 1rem;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-background);
  position: relative;
  overflow: hidden;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-accent);
  transition: width 0.25s;
}
