.popover {
  margin: 0;
  inset: unset;
  bottom: calc(anchor(top) + var(--gap));
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  justify-self: anchor-center;
  position-try: normal flip-block;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: var(--gap-l);
  box-shadow: var(--elevation);
  border-radius: var(--border-radius);
  max-width: 600px;

  @supports not (top: anchor(center)) {
    position: absolute;
  }
}

.label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
