.popover {
  margin: 0;
  inset: unset;
  position-area: bottom span-all;
  position-try-fallbacks: flip-block;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: var(--gap-l);
  box-shadow: var(--elevation);
  border-radius: var(--border-radius);
  max-width: 600px;
}

.label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 0;
}
