.popover {
  margin: 0;
  inset: unset;
  position-area: bottom;
  position-try-fallbacks: flip-block;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: var(--gap-l);
  box-shadow: var(--elevation);
  border-radius: var(--border-radius);
  max-width: 600px;

  @supports not (top: anchor(center)) {
    position: absolute;
  }

  &[data-anchor='top'] {
    position-area: top;
  }

  &[data-anchor='left'] {
    position-area: left;
  }

  &[data-anchor='right'] {
    position-area: right;
  }
}

.label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 0;
}
