.wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
}

.linked-presentation {
  border: 1px dashed var(--color-label);
  border-radius: var(--border-radius);
  padding: var(--gap);
  flex-grow: 1;
}
