.output-field {
  &[data-variant='inline'] {
    display: flex;
    gap: var(--gap);
    align-items: center;
  }
}

.label {
  color: var(--color-label);
}

.value {
  overflow-wrap: break-word;
}

.output-field[data-variant='block']:has(> .label) > .value {
  padding-left: var(--gap);
}
