.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius-s);

  &:focus-visible {
    outline: none;
  }

  h2 {
    padding: var(--gap);
    color: var(--color-label);
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-h6);
    font-family: var(--font-family-main);
    text-transform: uppercase;

    &:not(:first-child) {
      border-top: 1px solid var(--color-gray-main);
      padding-top: var(--gap-s);
    }
  }

  a,
  button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: var(--color-text);
    height: var(--input-height);
    padding: 0 var(--gap-l);
    text-decoration: none;
    transition: background-color 0.1s;
    background-color: var(--color-background);
    cursor: pointer;

    &[data-focus] {
      background-color: var(--color-button-secondary-hover);
    }

    &[data-active] {
      background-color: var(--color-button-secondary-active);
    }
  }
}
