# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/codeStypes
modules.xml
prettier.xml
vcs.xml
diva-client.iml
/codeStyles
/jsLinters/
/stylesheetLinters/