.active-filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--gap);
  margin-top: var(--gap-l);

  ul {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
  }
}

.active-filter-texts {
  display: flex;
  flex-flow: row wrap;
}

.active-filter {
  padding: var(--gap-s) var(--gap);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-thin-border);
}

.active-filter-value {
  font-style: italic;
  margin-inline: var(--gap-s);
}
