.combobox-options {
  box-shadow: var(--elevation);
  border-right: var(--border-radius);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-background);

  /* Variable defined by HeadlessUI */
  width: var(--input-width);
}

.combobox-option {
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: pointer;
  overflow-x: hidden;
  transition: background-color 0.1s;
  padding: var(--gap);
  width: 100%;
  user-select: none;

  &[data-highlighted] {
    background-color: var(--color-button-secondary-hover);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-label);
  }
}

.combobox-input-wrapper {
  position: relative;
}

.combobox-input-icons {
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--gap);
  font-size: var(--font-size-icon);
  display: flex;
  gap: var(--gap);
  align-items: center;

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
  }
}

.combobox-popup {
  padding-block: var(--gap);
  background: var(--color-background);
  border-radius: var(--border-radius-s);
  width: var(--anchor-width);
  max-height: min(var(--available-height), 23rem);
  max-width: var(--available-width);
  overflow-y: auto;
  scroll-padding-block: 0.5rem;
  overscroll-behavior: contain;
  transition:
    opacity 0.1s,
    transform 0.1s;
  transform-origin: var(--transform-origin);
  box-shadow: var(--elevation);

  &[data-starting-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  &[data-ending-style] {
    transition: none;
  }
}

.status {
  padding: var(--gap);
  display: flex;
  align-items: center;
  gap: var(--gap);
}
