.combobox-options {
  box-shadow: var(--elevation);
  border-right: var(--border-radius);
  border: 1px solid var(--color-input-border);
  background-color: white;

  /* Variable defined by HeadlessUI */
  width: var(--input-width);
}

.combobox-option {
  background-color: var(--color-background);
  cursor: pointer;
  overflow-x: hidden;
  transition: background-color 0.2s;
  padding: var(--gap);

  &[data-focus] {
    background-color: var(--color-button-secondary-hover);
  }

  &[data-disabled] {
    pointer-events: none;
    color: var(--color-label);
  }
}
