.combobox-options {
  box-shadow: var(--elevation);
  border-right: var(--border-radius);
  border: 1px solid var(--color-input-border);
  background-color: var(--color-background);

  /* Variable defined by HeadlessUI */
  width: var(--input-width);
}

.combobox-option {
  background-color: var(--color-background);
  color: var(--color-text);
  cursor: pointer;
  overflow-x: hidden;
  transition: background-color 0.1s;
  padding: var(--gap);
  width: 100%;

  &[data-focus] {
    background-color: var(--color-button-secondary-hover);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-label);
  }
}

.combobox-input-wrapper {
  position: relative;
}

.combobox-input-icon {
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--gap);
  font-size: var(--font-size-icon);
}
