/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.field {
  display: flex;

  &[data-invalid='true'] {
    color: rgb(var(--errorMain));
  }

  &[data-variant='block'] {
    flex-direction: column;
  }

  &[data-variant='inline'] {
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
  }

  &[data-size='small'] {
    font-size: var(--font-size-s);
    .select {
      padding-right: calc(var(--gap) * 6);
      background-position: right calc(var(--gap) / 2) center;
    }

    .input,
    .select {
      padding-left: calc(var(--gap));
      height: calc(var(--input-height) * 0.8);
    }
  }

  &[data-size='medium'] {
    font-size: 1rem;

    .select {
      padding-right: calc(var(--gap) * 6);
      background-position: right var(--gap) center;
    }

    .select,
    .input {
      padding-left: calc(var(--gap) * 1.5);
    }
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input,
.select {
  height: var(--input-height);
  border-radius: calc(var(--border-radius) / 2);
  background: rgb(var(--background-color));
  border: 1px solid rgb(var(--fieldOutline));
  font-size: inherit;
  width: auto;
  position: relative;
  &[data-focus] {
    border-color: black;
  }

  &[data-invalid] {
    border-color: rgb(var(--errorMain));
  }
}

.select {
  appearance: none;
  field-sizing: content;
  cursor: pointer;
  background-repeat: no-repeat;
}
