/*
 * Copyright 2025 Uppsala University Library
 *
 * This file is part of DiVA Client.
 *
 *     DiVA Client is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     DiVA Client is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 */

.select-wrapper select,
.input,
.combobox-input,
.textarea {
  background: var(--color-background);
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  border: 1px solid var(--color-input-border);
  border-radius: calc(var(--border-radius) / 2);
  height: var(--input-height);
  font-size: inherit;
  color: var(--color-text);

  &[data-invalid] {
    border-color: var(--color-error-main);
  }
}

.select-wrapper select {
  appearance: none;
  cursor: pointer;

  &:focus {
    border-color: black;
  }
}

.label-and-adornment-wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);

  .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .error-icon {
      opacity: 0;
      transition: opacity 0.2s;
      position: absolute;
      top: calc((var(--input-height) / 2) - 0.5em);
      right: var(--gap-xl);
    }
  }

  &:has([data-invalid]) {
    color: var(--color-error-main);

    .error-icon {
      opacity: 1;
    }
  }

  .label-and-children-wrapper {
    display: flex;
    gap: var(--gap-s);
  }

  &[data-variant='block'] {
    .label-and-children-wrapper {
      flex-direction: column;
    }
  }

  &[data-variant='inline'] {
    align-items: flex-end;

    .label-and-children-wrapper {
      flex-direction: row;
      align-items: center;
    }
  }

  &[data-size='small'] {
    font-size: var(--font-size-s);

    --input-height: var(--input-height-small);

    .select-wrapper select,
    .input,
    .combobox-input {
      padding-left: var(--gap);
      padding-right: calc(var(--gap) * 6);
      background-position: right calc(var(--gap) / 2) center;
    }
  }

  &[data-size='medium'] {
    font-size: 1rem;

    .select-wrapper select,
    .input,
    .combobox-input {
      background-position: right var(--gap) center;
      padding-left: calc(var(--gap) * 1.5);
      padding-right: calc(var(--gap) * 6);
    }
  }
}

.adornments {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  margin-left: auto;
}

.textarea {
  resize: vertical;
  min-height: calc(var(--input-height) * 2);
  padding-top: calc(var(--gap) * 1.5);
  padding-left: calc(var(--gap) * 1.5);
  padding-right: calc(var(--gap) * 6);
}

.error-message {
  font-size: var(--font-size-s);
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-chevron {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--gap);
  font-size: 1.5em;
  color: var(--color-primary);
  pointer-events: none;
}
